.banner {
  height: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('watermelon.jpg');
  background-size: cover;
}

.my-title {
  color: white;
  width: 30%;
  margin-left: 100px;
  padding-top: 80px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}


